<mat-tab-group class="p-05">
    <mat-tab label="FILTROS DE BUSQUEDA" align="center">

        <mat-card class="margin-333">
            <!-- <mat-card-title class="m-05" [style.backgroundColor]="'rgb(235, 235, 235)'">
                <div align="center" [style.fontSize.px]="14" class="p-05">
                    <span><b>FILTROS PARA BUSQUEDA DE LIQUIDACIONES</b></span>
                </div>
            </mat-card-title> -->

            <!-- <mat-card-title class="mat-bg-primary m-05" style="width: 20%">
                <div align="center" [style.fontSize.px]="14" class="p-0">
                    <span>FILTROS DE BUSQUEDA</span>
                </div>
                <mat-divider></mat-divider>
            </mat-card-title> -->
            <mat-card-content class="mb-0 p-0">

                <form [formGroup]="formFilter" novalidate>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" class="m-0 p-0" fxLayoutAlign="start left">

                        <mat-form-field fxFlex="18%" appearance="">
                            <mat-label><b>TIPO DOCUMENTO </b></mat-label>
                            <mat-select [formControl]="formFilter.controls['tipoDocumento']">
                                <mat-option value="0">Todos</mat-option>
                                <mat-option *ngFor="let tipoDocumento of comboTiposDocumento" [value]="tipoDocumento.id">
                                    {{tipoDocumento.nemonico}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="10%">
                            <mat-label style="font-size: 13px"><b>SERIE</b></mat-label>
                            <input matInput name="serie" [formControl]="formFilter.controls['serie']" maxlength="5" style="color:green;">
                            <mat-icon matSuffix inline="true">edit</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="pl-01" fxFlex="13%">
                            <mat-label style="font-size: 13px"><b>CORRELATIVO</b></mat-label>
                            <input matInput name="secuencial" [formControl]="formFilter.controls['secuencial']" maxlength="8" style="color:green">
                            <mat-icon matSuffix inline="true">edit</mat-icon>
                        </mat-form-field>

                        <mat-label fxFlex="5%"></mat-label>

                        <mat-form-field class="pl-01" fxFlex="20%">
                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>FECHA INICIO EMISION</b></mat-label>
                            <input matInput name="fechaIni" [formControl]="formFilter.controls['fechaIni']" [matDatepicker]="picker" maxlength="10" style="color:#3f51b5">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="pl-1" fxFlex="20%">
                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>FECHA FIN EMISION</b></mat-label>
                            <input matInput name="fechaFin" [formControl]="formFilter.controls['fechaFin']" [matDatepicker]="picker2" maxlength="10" style="color:#3f51b5">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>



                        <!-- <mat-form-field class="pl-1">
                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>ESTADO</b></mat-label>
                            <mat-select [(ngModel)]="valorEstadoSelected_" name="estadoSelected" [formControl]="formFilter.controls['estadoSelected']">
                                <mat-option value="0">Todos</mat-option>
                                <mat-option value="1">Vigente</mat-option>
                                <mat-option value="2">Vencido </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <!-- <mat-label class="pl-1 ml-2" fxFlex="30%"> </mat-label> -->

                    </div>

                    <br>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%">

                        <mat-form-field fxFlex="18%">
                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>ESTADO</b></mat-label>
                            <mat-select name="estado" [formControl]="formFilter.controls['estado']">
                                <mat-option value="0">Todos</mat-option>
                                <mat-option value="1">Registrado</mat-option>
                                <mat-option value="2">Cancelado</mat-option>
                                <mat-option value="3">Anulado</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="38%" floatPlaceholder="never">
                            <mat-label><b>CLIENTE</b></mat-label>
                            <mat-select name="cliente" [formControl]="formFilter.controls['cliente']">
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="formFilter.controls['cliente_']" placeholderLabel="Buscar ..." noEntriesFoundLabel="'No existen coincidencias'"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option value="0">Todos</mat-option>
                                <mat-option *ngFor="let cliente of clientesFiltrados | async" [value]="cliente.id">
                                    {{'RUC ' + cliente.ruc + ' - '+cliente.razonSocial}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <button mat-raised-button class="link-btn" (click)="asignarOrdenServicio({}, true)"><mat-icon>note_add</mat-icon> Nuevo Documento</button> -->
                        <span fxFlex></span>
                        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="start center" class="pr-1">
                            <button mat-raised-button color="primary" (click)="buscarDocumento()"><mat-icon>search</mat-icon>Buscar</button>
                            <button mat-raised-button color="primary" (click)="ExportTOExcel()"><mat-icon>archive</mat-icon> Exportar</button>
                        </div>

                    </div>
                </form>
            </mat-card-content>
        </mat-card>



        <!-- Listado de Documentos -->
        <div class="mat-box-shadow margin-333 p-0">
            <ngx-datatable class="material striped" [columnMode]="'force'" [scrollbarH]="'true'" [headerHeight]="40" [footerHeight]="48" [rowHeight]="'auto'" [limit]="5" [rows]="rows" [columns]="columns" [messages]="messages">
                <ngx-datatable-column name="Acciones" [flexGrow]="1" [width]="110">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button mat-icon-button mat-sm-button color="primary" matTooltip="Consultar" class="mr-1" (click)="consultarDocumento(row)"><mat-icon>search</mat-icon></button>
                        <button mat-icon-button mat-sm-button color="primary" matTooltip="Cancelación" (click)="cancelarDocumento(row)"><mat-icon>double_arrow</mat-icon></button>

                        <!--<button mat-icon-button mat-sm-button color="primary"  (click)="consultarDocumento(row)"><mat-icon align ="center top">cloud_upload</mat-icon></button>-->

                        <!-- <button mat-icon-button mat-sm-button color="warn" matTooltip="Eliminar" (click)="eliminarGuia(row)"><mat-icon>delete</mat-icon></button> -->
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Tipo Doc." [flexGrow]="1" [width]="100" prop="id">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="12"> {{ this.retornarLiteralTipoDocumento(row?.tipoDocumento) }} </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Serie" [flexGrow]="1" [width]="80" prop="serie">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="12"> {{ row?.serie }} </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Correlativo" [flexGrow]="1" [width]="120" prop="secuencia">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="12"> {{ this.retornarSecuencia(row) }} </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Cliente" [flexGrow]="1" [width]="220" prop="nrodoc">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="12"> {{ row?.cliente.razonSocial }} </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="F. Emisión" [flexGrow]="1" [width]="120" prop="fechaEmision" [cellClass]="'my-custom-cell'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="12"> {{ row?.fechaEmision | date: 'dd/MM/yyyy'}} </div>
                    </ng-template>
                </ngx-datatable-column>


                <!-- <ngx-datatable-column name="F. Vencimiento" [flexGrow]="1" [width]="120" prop="fechaEmision2" [cellClass]="'my-custom-cell'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="12"> {{ row?.fechaVencimiento | date: 'dd/MM/yyyy'}} </div>
                    </ng-template>
                </ngx-datatable-column> -->


                <ngx-datatable-column name="Estado Doc." [flexGrow]="1" [width]="110" prop="estado">
                    <ng-template let-row="row" ngx-datatable-cell-template>

                        <mat-chip *ngIf="chip" mat-sm-chip class="full-width" selected [color]="chip.color">
                            {{this.getValueGlosaEstado(row.estado)}}
                        </mat-chip>

                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Importe" [flexGrow]="1" [width]="120" prop="importeTotal">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div align="center" [style.fontSize.px]="12">{{this.getSimboloMoneda(row)}} {{ row?.totalDocumento | number: '1.2-2' }}</div>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Glosa" [flexGrow]="1" [width]="180" prop="factura.observacion">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="12"> {{ this.retornarGlosa(row) }} </div>
                    </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Env. Sunat" [flexGrow]="1" [width]="100" prop="factura.ordenServicio">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="12"> {{ row?.envioSunat === 0? 'NO' : 'SI' }} </div>
                    </ng-template>
                </ngx-datatable-column> -->


                <!--
                <ngx-datatable-column name="Observación" [flexGrow]="1" [width]="200" prop="destino.refLarga1" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span title="{{ row?.destino.refLarga1 }}">
                        <div [style.fontSize.px]="12"> {{ row?.destino.refLarga1 }} </div>
                    </span>
                    </ng-template>
                </ngx-datatable-column>-->


                <!-- <ngx-datatable-column name="Total Cantidad" [flexGrow]="1" [width]="150" prop="totalCantidad">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="12"> {{ row?.totalCantidad | number: '1.2-2' }}</div>
                    </ng-template>
                </ngx-datatable-column> -->

                <!-- <ngx-datatable-column name="Balance" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row?.balance | currency }}
                  </ng-template>
              </ngx-datatable-column> -->
            </ngx-datatable>
        </div>
    </mat-tab>
</mat-tab-group>