<mat-card class="p-0">
    <!-- <mat-card-title class="" [style.fontSize.px]="14">
        <div class="card-title-text"><b> NUEVA GUIA DE REMISION</b></div>
        <mat-divider></mat-divider>
    </mat-card-title> -->
    <mat-card-content class="p-05">
        <form [formGroup]="basicForm" novalidate [style.fontSize.px]="12" (ngSubmit)="grabarGuiaRemision(basicForm.value, basicForm.valid, $event)">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap">
                        <div fxFlex="100" fxFlex.gt-xs="100">
                            <mat-card class="p-0 m-05">
                                <!-- <mat-card-title class="m-0" [style.backgroundColor]="'rgb(235, 235, 235)'"> -->
                                <mat-card-title class="mat-bg-primary m-0">
                                    <div align="center" [style.fontSize.px]="14">
                                        <span>DATOS BASICOS</span>
                                    </div>
                                    <mat-divider></mat-divider>
                                </mat-card-title>
                                <br>
                                <mat-card-content class="pb-0">
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left">
                                        <!-- Comapny name input field -->
                                        <mat-form-field fxFlex="50%" appearance="">
                                            <mat-label><b>EMPRESA :</b></mat-label>
                                            <input matInput name="empresa_" [formControl]="basicForm.controls['empresa_']" [style.fontSize.px]="12" style="color:#3f51b5">
                                            <mat-icon matSuffix>store</mat-icon>
                                        </mat-form-field>
                                        <mat-form-field fxFlex="50%" appearance="">
                                            <mat-label fxFlex="15%"><b>DIRECCION :</b></mat-label>
                                            <input matInput name="direccion_" [formControl]="basicForm.controls['direccion_']" [style.fontSize.px]="13" style="color:#3f51b5">
                                            <mat-icon matSuffix>directions</mat-icon>

                                        </mat-form-field>

                                    </div>

                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="left">

                                        <mat-label fxFlex="12%" [style.fontSize.px]="12" style="color:rgba(0, 0, 0, 0.54);"><b>GUIA REMISION:</b> </mat-label>
                                        <mat-form-field fxFlex="8%" appearance="">
                                            <mat-label style="font-size: 14px"><b>SERIE </b></mat-label>
                                            <input matInput [(ngModel)]="valorNroSerie_" name="nroSerie" [formControl]="basicForm.controls['nroSerie']" maxlength="5" value="" [disabled]="edicion" style="color:#3f51b5" (keypress)='validaDigitos($event)' (change)='completarZerosNroSerie($event)'>
                                            <mat-icon matSuffix inline="true">edit</mat-icon>
                                            <mat-error [style.fontSize.px]="10" class="full-width" *ngIf="basicForm.controls['nroSerie'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="12%" appearance="">
                                            <mat-label><b>SECUENCIA </b></mat-label>
                                            <input matInput [(ngModel)]="valorNroSecuencia_" name="nroSecuencia" [formControl]="basicForm.controls['nroSecuencia']" maxlength="8" value="" [disabled]="edicion" style="color:#3f51b5" (keypress)='validaDigitos($event)' (change)='completarZerosNroSecuencia($event)'>
                                            <mat-icon matSuffix inline="true">edit</mat-icon>
                                            <mat-error [style.fontSize.px]="10" class="full-width" *ngIf="basicForm.controls['nroSecuencia'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <span fxFlex="10%"> 
                                            <button mat-icon-button matTooltip="Consultar por Guia Empresa" type="button" color="primary"  class="ml-1" (click)="consultarGuia()"><mat-icon>search</mat-icon></button>
                                        </span>

                                        <mat-form-field fxFlex="20%" appearance="">
                                            <mat-label><b>ESTADO DE GUIA </b></mat-label>
                                            <mat-select [(ngModel)]="estadoSelected_" [formControl]="basicForm.controls['estadoSelected']" align="top">
                                                <mat-option value="0">Registrado</mat-option>
                                                <mat-option value="1">Anulado </mat-option>
                                            </mat-select>
                                        </mat-form-field>


                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="left">
                                        <mat-label fxFlex="12%" [style.fontSize.px]="12" style="color:rgba(0, 0, 0, 0.54);"><b>GUIA REMISION CLI:</b> </mat-label>
                                        <mat-form-field fxFlex="8%" appearance="">
                                            <mat-label style="font-size: 14px"><b>SERIE </b></mat-label>
                                            <input matInput [(ngModel)]="valorSerieCli_" name="nroSerieClie" [style.fontSize.px]="14" [formControl]="basicForm.controls['nroSerieClie']" value="" maxlength="5" style="color:green" (keypress)='validaDigitos($event)' (change)='completarZerosNroSerieCli($event)'>
                                            <mat-icon matSuffix inline="true">edit</mat-icon>
                                            <mat-error *ngIf="basicForm.controls['nroSerieClie'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="12%" appearance="">
                                            <mat-label><b>SECUENCIA</b></mat-label>
                                            <input matInput [(ngModel)]="valorSecuenciaCli_" name="nroSequenClie" [style.fontSize.px]="14" [formControl]="basicForm.controls['nroSequenClie']" value="" maxlength="8" style="color:green" (keypress)='validaDigitos($event)' (change)='completarZerosNroSecuenciaCli($event)'>
                                            <mat-icon matSuffix inline="true">edit</mat-icon>
                                            <mat-error *ngIf="basicForm.controls['nroSequenClie'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <span fxFlex="10%"> 
                                            <button mat-icon-button matTooltip="Consultar por Guia Cliente" type="button" color="primary" class="ml-1" (click)="consultarGuiaCliente()"><mat-icon>search</mat-icon></button>
                                        </span>
                                        <mat-form-field fxFlex="20%" appearance="">
                                            <mat-label><b>FECHA EMISION</b></mat-label>
                                            <input matInput name="fechaEmision" [formControl]="basicForm.controls['fechaEmision']" [matDatepicker]="appDatepicker" maxlength="10" [(ngModel)]="valorFechaEmision_" (dateChange)="onChangeFechaEmision('change_fecha_emision', $event)" style="color:#3f51b5">
                                            <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #appDatepicker></mat-datepicker>
                                            <mat-error *ngIf="basicForm.controls['fechaEmision'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="20%" appearance="">
                                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>FECHA INI TRASLADO</b></mat-label>
                                            <input matInput name="fechaIniTraslado" [formControl]="basicForm.controls['fechaIniTraslado']" [matDatepicker]="picker" valuemaxlength="10" [(ngModel)]="valorFechaIniTraslado_" style="color:#3f51b5">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
                                            <mat-error *ngIf="basicForm.controls['fechaIniTraslado'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>

                                    </div>



                                </mat-card-content>
                            </mat-card>

                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap">
                        <div fxFlex="100" fxFlex.gt-xs="50">

                            <mat-card class="p-0">
                                <mat-card-title class="mat-bg-primary m-0">
                                    <div align="center" [style.fontSize.px]="14">
                                        <span>REMITENTE</span>
                                    </div>
                                    <mat-divider></mat-divider>
                                </mat-card-title>
                                <mat-divider></mat-divider>
                                <mat-card-content>
                                    <br>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left">
                                        <mat-form-field fxFlex="70%" appearance="">
                                            <mat-label><b>RAZON SOCIAL / PLANTA </b></mat-label>
                                            <mat-select [compareWith]="compareObjects" [(ngModel)]="valorRemitenteSelected_" name="remitenteSelected" [formControl]="basicForm.controls['remitenteSelected']" (selectionChange)="seleccionarFactoriaRemitente($event)" requeried>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="basicForm.controls['origenFiltro']" placeholderLabel="Buscar ..." noEntriesFoundLabel="'No existen coincidencias'"></ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let factoria of factoriasOrigenFiltrados | async" [value]="factoria">
                                                    {{factoria.refLarga2}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="basicForm.controls['remitenteSelected'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field fxFlex="25%" appearance="">
                                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>RUC</b></mat-label>
                                            <input matInput name="rucRemitente_" [formControl]="basicForm.controls['rucRemitente_']" [(ngModel)]="valorRucRemitente_" [style.fontSize.px]="13" style="color:#3f51b5">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="left">

                                        <mat-form-field fxFlex="100%" appearance="">
                                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>DIRECCION</b></mat-label>
                                            <input matInput name="direRemitente_" [formControl]="basicForm.controls['direRemitente_']" [(ngModel)]="valorDirRemitente_" [style.fontSize.px]="12" style="color:#3f51b5">
                                        </mat-form-field>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <mat-card class="p-0">
                                <mat-card-title class="mat-bg-primary m-0">
                                    <div align="center" [style.fontSize.px]="14">
                                        <span>DESTINATARIO</span>
                                    </div>
                                    <mat-divider></mat-divider>
                                </mat-card-title>
                                <mat-divider></mat-divider>
                                <mat-card-content>
                                    <br>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left">

                                        <mat-form-field fxFlex="70%" appearance="">
                                            <mat-label><b>RAZON SOCIAL / PLANTA </b></mat-label>
                                            <mat-select [compareWith]="compareObjects" [(ngModel)]="valorDestinatarioSelected_" name="destinatarioSelected" [formControl]="basicForm.controls['destinatarioSelected']" (selectionChange)="seleccionarFactoriaDestinatario($event)">
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="basicForm.controls['destinoFiltro']" placeholderLabel="Buscar ..." noEntriesFoundLabel="'No existen coincidencias'"></ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let factoria of factoriasDestinoFiltrados | async" [value]="factoria">
                                                    {{factoria.refLarga2}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="basicForm.controls['destinatarioSelected'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field fxFlex="25%" appearance="">
                                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>RUC</b></mat-label>
                                            <input matInput name="rucDestinatario_" [formControl]="basicForm.controls['rucDestinatario_']" [(ngModel)]="valorRucDestinatario_" style="color:#3f51b5">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="left">
                                        <!-- Comapny name input field -->

                                        <mat-form-field fxFlex="100%" appearance="">
                                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>DIRECCION</b></mat-label>
                                            <input matInput name="direDestinatario_" [formControl]="basicForm.controls['direDestinatario_']" [(ngModel)]="valorDirDestinatario_" [style.fontSize.px]="12" style="color:#3f51b5">
                                        </mat-form-field>
                                    </div>

                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap">
                        <!-- SECCION PRODUCTO -->
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <mat-card class="p-0">
                                <mat-card-title class="mat-bg-primary m-0">
                                    <div align="center" [style.fontSize.px]="14">
                                        <span>PRODUCTOS</span>
                                    </div>
                                    <mat-divider></mat-divider>
                                </mat-card-title>
                                <mat-divider></mat-divider>
                                <br>
                                <mat-card-content>
                                    <!-- group name in this case row index -->
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="7.5%" fxLayoutAlign="left">

                                        <!-- unit name input field -->
                                        <mat-form-field class="full-width">
                                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>DESCRIPCION</b></mat-label>
                                            <mat-select [compareWith]="compareObjects" [(ngModel)]="valorProductoSelected_" name="productoSelected" [formControl]="basicForm.controls[ 'productoSelected']" requeried>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="basicForm.controls['productoFiltro']" placeholderLabel="Buscar ..." noEntriesFoundLabel="'No existen coincidencias'"></ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                                                    {{producto.nombre}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="basicForm.controls['productoSelected'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="8.5%" fxLayoutAlign="left start">

                                        <!-- unit quantity input field -->
                                        <mat-form-field fxFlex="20%" fxFlex.xs="20">
                                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>CANTIDAD</b></mat-label>
                                            <input matInput [(ngModel)]="valorCantidad_" name="cantidad" type="number" [formControl]="basicForm.controls['cantidad']" style="color:#3f51b5">
                                            <mat-error *ngIf="basicForm.controls['cantidad'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>

                                        </mat-form-field>

                                        <!-- unit price input field 
                                                        <mat-form-field fxFlex="10%" fxFlex.xs="grow">
                                                            <input matInput [(ngModel)]="valorPeso_" name="peso" placeholder="PESO" type="number" value="0.00" [formControl]="basicForm.controls['peso']" style="color:blue">
                                                        </mat-form-field>-->

                                        <!-- unit total price input field, calculated and not editable -->
                                        <mat-form-field fxFlex="30%">
                                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>UNIDAD DE MEDIDA</b></mat-label>
                                            <mat-select [compareWith]="compareObjects" [(ngModel)]="valorUMSelected_" name="unidadMedidaSelected" [formControl]="basicForm.controls[ 'unidadMedidaSelected']" requeried>
                                                <mat-option *ngFor="let unidad of comboUnidadMedida" [value]="unidad">
                                                    {{unidad.valor + ' - ' + unidad.descripcion }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="basicForm.controls['unidadMedidaSelected'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>


                        <!-- SECCION BALANZA -->
                        <div fxFlex="100" fxFlex.gt-xs="50">
                            <mat-card class="p-0 mb-0">
                                <mat-card-title class="mat-bg-primary m-0">
                                    <div align="center" [style.fontSize.px]="14">
                                        <span>BALANZA</span>
                                    </div>
                                    <mat-divider></mat-divider>
                                </mat-card-title>
                                <mat-divider></mat-divider>
                                <br>
                                <mat-card-content>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="7.5%" fxLayoutAlign="left">
                                        <mat-form-field class="full-width" appearance="">
                                            <mat-label><b>CODIGO BALANZA </b></mat-label>
                                            <mat-select [compareWith]="compareObjects" [(ngModel)]="valorBalanzaSelected_" name="balanzaSelected" [formControl]="basicForm.controls['balanzaSelected']">
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="basicForm.controls['balanzaFiltro']" placeholderLabel="Buscar ..." noEntriesFoundLabel="'No existen coincidencias'"></ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let balanza of balanzasFiltrados | async" [value]="balanza">
                                                    {{balanza.descripcion}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="left start">
                                        <!-- Comapny name input field -->
                                        <mat-form-field fxFlex="40%" appearance="">
                                            <mat-label><b>NRO DE TICKET BALANZA </b></mat-label>
                                            <input matInput [(ngModel)]="valorTicketBalanza_" name="nroTicketBal" [formControl]="basicForm.controls['nroTicketBal']" value="" maxlength="10" style="color:#3f51b5">
                                            <!-- <mat-error *ngIf="basicForm.controls['nroTicketBal'].hasError('required')">
                                                            <strong>* REQUERIDO</strong>
                                                        </mat-error> -->

                                        </mat-form-field>
                                        <mat-label fxFlex="10%"></mat-label>
                                        <mat-form-field fxFlex="40%" appearance="">
                                            <mat-label><b>FECHA DE RECEPCION</b></mat-label>
                                            <input matInput [(ngModel)]="valorFechaRecepcion_" name="fechaRecepcion" [formControl]="basicForm.controls['fechaRecepcion']" maxlength="10" [matDatepicker]="picker3" style="color:#3f51b5">
                                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #picker3></mat-datepicker>
                                            <mat-error *ngIf="basicForm.controls['fechaRecepcion'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>

                                    </div>



                                </mat-card-content>
                            </mat-card>

                        </div>
                    </div>
                    <div>

                    </div>

                    <!-- SECCION CHOFER  -->
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap">
                        <div fxFlex="100" fxFlex.gt-xs="100">
                            <mat-card class="p-0">
                                <mat-card-title class="mat-bg-primary m-0">
                                    <div align="center" [style.fontSize.px]="14">
                                        <span>UNIDAD DE TRANSPORTE</span>
                                    </div>
                                    <mat-divider></mat-divider>
                                </mat-card-title>
                                <mat-divider></mat-divider>
                                <mat-card-content>
                                    <br>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="left">

                                        <mat-form-field fxFlex="40%" appearance="">
                                            <mat-label><b>CHOFER</b></mat-label>
                                            <mat-select [compareWith]="compareObjects" [(ngModel)]="valorChoferSelected_" name="choferSelected" [formControl]="basicForm.controls['choferSelected']" (selectionChange)="seleccionarChofer($event)" requeried>
                                                <mat-option>
                                                    <ngx-mat-select-search [formControl]="basicForm.controls['choferFiltro']" placeholderLabel="Buscar ..." noEntriesFoundLabel="'No existen coincidencias'"></ngx-mat-select-search>
                                                </mat-option>
                                                <mat-option *ngFor="let chofer of choferesFiltrados | async" [value]="chofer">
                                                    {{chofer.nombres + ' ' + chofer.apellidos + ' - DNI ' + chofer.dni }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="basicForm.controls['choferSelected'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="12%" appearance="">
                                            <mat-label><b>PLACA TRACTO</b></mat-label>
                                            <input matInput name="placaTracto" [formControl]="basicForm.controls['placaTracto']" [(ngModel)]="valorPlacaTracto_" maxlength="10" style="color:#3f51b5">
                                            <mat-error *ngIf="basicForm.controls['placaTracto'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <!-- Comapny name input field -->
                                        <mat-form-field fxFlex="12%" appearance="">
                                            <mat-label><b>PLACA BOMBONA</b></mat-label>
                                            <input matInput name="placaBombona" [formControl]="basicForm.controls['placaBombona']" [(ngModel)]="valorPlacaBombona_" maxlength="10" style="color:#3f51b5">
                                            <mat-error *ngIf="basicForm.controls['placaBombona'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="15%" appearance="">
                                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>NRO. CERT. INSCRIPCION </b></mat-label>
                                            <input matInput name="nroCertificado_" [formControl]="basicForm.controls[ 'nroCertificado_']" [(ngModel)]="valorCertificado_" style="color:#3f51b5">
                                        </mat-form-field>
                                        <!-- Comapny name input field -->

                                        <mat-form-field fxFlex="15%" appearance="">
                                            <mat-label style="color:rgba(0, 0, 0, 0.54);" class="ml-05"><b>NRO. LICENCIA CONDUCIR</b></mat-label>
                                            <input matInput name="nroLicencia_" [formControl]="basicForm.controls['nroLicencia_']" [(ngModel)]="valorLicencia_" style="color:#3f51b5">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="left">
                                        <!-- Comapny name input field -->



                                    </div>

                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="left">
                                        <!-- Comapny name input field -->


                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>

                </div>

            </div>
            <br>
            <div align="center">
                <button mat-raised-button color="primary" class="mr-1" type="button" (click)="regresar()"><mat-icon>keyboard_backspace</mat-icon>Regresar</button>
                <button mat-raised-button color="primary" class="mr-1"><mat-icon>save</mat-icon> Grabar</button>
                <button mat-raised-button color="primary" class="mr-1" type="button" (click)="nuevaGuia()"><mat-icon>note_add</mat-icon> Nuevo</button>

                <!-- <button mat-raised-button class="mat-primary" color="warn" type="button" class="mr-1" (click)="cancelarGuiaRem()" [disabled]="false"><mat-icon>cancel</mat-icon> Cancelar</button> -->
            </div>
        </form>
        <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    </mat-card-content>
</mat-card>