<mat-toolbar color="primary">
    <mat-toolbar-row [style.fontSize.px]="17">
        <mat-icon>dvr</mat-icon>
        <span class="ml-1">{{ data.title}}</span>
        <span class="spacer"></span>
        <mat-icon class="example-icon" (click)="dialogRef.close(false)">close</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card-content class="mb-0 p-05">
    <br>
    <form [formGroup]="formFilter" id="ngForm" novalidate (ngSubmit)="submit()">


        <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="left">
            <mat-form-field fxFlex="15%">
                <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>SERIE</b></mat-label>
                <input matInput name="serie_" [formControl]="formFilter.controls['serie_']" maxlength="5" style="color:#3f51b5" (keypress)='validaDigitos($event)' (change)='completarZerosNroSerie($event)'>
                <mat-icon matSuffix inline="true">edit</mat-icon>
            </mat-form-field>
            <mat-form-field fxFlex="15%">
                <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>SECUENCIA</b></mat-label>
                <input matInput name="secuencia_" [formControl]="formFilter.controls['secuencia_']" maxlength="8" style="color:#3f51b5" (keypress)='validaDigitos($event)' (change)='completarZerosNroSecuencia($event)'>
                <mat-icon matSuffix inline="true">edit</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex="15%" appearance="">
                <mat-label><b>F. INI TRASLADO</b></mat-label>
                <input matInput name="filtroFechaIni" [formControl]="formFilter.controls['filtroFechaIni']" [matDatepicker]="appDatepicker_" maxlength="10" style="color:#3f51b5">
                <mat-datepicker-toggle matSuffix [for]="appDatepicker_"></mat-datepicker-toggle>
                <mat-datepicker touchUi #appDatepicker_></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="15%" appearance="">
                <mat-label><b>F. FIN TRASLADO</b></mat-label>
                <input matInput name="filtroFechaFin" [formControl]="formFilter.controls['filtroFechaFin']" [matDatepicker]="picker_" valuemaxlength="10" style="color:#3f51b5">
                <mat-datepicker-toggle matSuffix [for]="picker_"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker_ disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-label fxFlex="5%"></mat-label>
            <div align="center" fxFlex="30%" data-html2canvas-ignore="true">
                <button mat-raised-button type="button" color="primary" class="mr-1" (click)="buscar()"><mat-icon>search</mat-icon> Buscar </button>
                <button mat-raised-button type="button" color="primary" class="mr-1" (click)="initForm()"><mat-icon>clear_all</mat-icon> Limpiar </button>

            </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="left">

            <mat-form-field fxFlex="15%">
                <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>SERIE CLI </b></mat-label>
                <input matInput name="serie_" [formControl]="formFilter.controls['serieCli_']" maxlength="5" style="color:green" (keypress)='validaDigitos($event)' (change)='completarZerosNroSerieCli($event)'>
                <mat-icon matSuffix inline="true">edit</mat-icon>
            </mat-form-field>
            <mat-form-field fxFlex="15%">
                <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>SECUENCIA CLI</b></mat-label>
                <input matInput name="secuenciaCli_" [formControl]="formFilter.controls['secuenciaCli_']" maxlength="8" style="color:green" (keypress)='validaDigitos($event)' (change)='completarZerosNroSecuenciaCli($event)'>
                <mat-icon matSuffix inline="true">edit</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex="30%" class="full-width" appearance="">
                <mat-label><b>ORIGEN</b></mat-label>
                <mat-select name="filtroOrigen" [formControl]="formFilter.controls['filtroOrigen']">
                    <mat-option value="0">Todos</mat-option>
                    <mat-option *ngFor="let factoria of comboFactorias" [value]="factoria.id">
                        {{factoria.refLarga2}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="30%" class="full-width" appearance="">
                <mat-label><b>DESTINO</b></mat-label>
                <mat-select name="filtroDestino" [formControl]="formFilter.controls['filtroDestino']">
                    <mat-option value="0">Todos</mat-option>
                    <mat-option *ngFor="let factoria2 of comboFactoriasDestino" [value]="factoria2.id">
                        {{factoria2.refLarga2}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="4.5%" fxLayoutAlign="left" [style.fontSize.px]="15">
            <mat-label fxFlex="28%"></mat-label>
        </div>

    </form>
</mat-card-content>


<div class="p-0 m-0">
    <mat-card class="p-0 mt-05 mb-05 mr-0 ml-0">
        <div class="margin-333">
            <ngx-datatable class="material striped" [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' style="width: 1080px" [columnMode]="'force'" [limit]="5" [scrollbarH]="true" [scrollbarV]="false" [headerHeight]="40" [footerHeight]="50"
                [rowHeight]="50" [rows]="rows" [columns]="columns" [messages]="messages">

                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true" [checkboxable]="true">
                </ngx-datatable-column>

                <ngx-datatable-column name="Item" [flexGrow]="1" [width]="50" prop="id">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="11"> {{ rowIndex + 1 }} </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="F.Traslado" [flexGrow]="1" [width]="80" prop="fechaTraslado">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="11">{{ row?.fechaTraslado | date: 'dd/MM/yyyy' }} </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Serie" [flexGrow]="1" [width]="60" prop="serie">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div align="left" [style.fontSize.px]="11">{{ row?.serie}} </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Secuencia" [flexGrow]="1" [width]="80" prop="secuencia">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div align="left" [style.fontSize.px]="11">{{ row?.secuencia }} </div>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Serie Cli" [flexGrow]="1" [width]="70" prop="serieCliente">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div align="left" [style.fontSize.px]="11"> {{ row?.serieCliente}} </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Sec. Cli" [flexGrow]="1" [width]="100" prop="secuenciaCliente">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div align="left" [style.fontSize.px]="11"> {{ row?.secuenciaCliente }} </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Destino" [flexGrow]="1" [width]="150" prop="destino" sorteable="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="11" align="left">{{ row?.destinatario?.nombre }} </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Insumo" [flexGrow]="1" [width]="200" prop="guiaDetalle">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="11"> {{ row?.guiaDetalle[0]?.producto?.nombre }} </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Tkt. Balanza" [flexGrow]="1" [width]="90" prop="ticketBalanza">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="11">{{ row?.ticketBalanza }} </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Cantidad" [flexGrow]="1" [width]="80" prop="totalCantidad">
                    <ng-template let-row="row" ngx-datatable-cell-template>

                        <div align="left" [style.fontSize.px]="11"> {{ row?.totalCantidad | number: '1.2-2' }} </div>

                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="UM" [flexGrow]="1" [width]="60" prop="unidadMedida">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div [style.fontSize.px]="11">{{ row?.guiaDetalle[0]?.unidadMedida?.valor }} </div>
                    </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Tarifa" [flexGrow]="1" [width]="90" prop="ticketBalanza2">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div [style.fontSize.px]="11">{{ row?.tarifa | number: '1.2-2' }} </div>
                        </ng-template>
                    </ngx-datatable-column> -->

            </ngx-datatable>
        </div>
    </mat-card>
</div>


<div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="2.5%">
    <button mat-button color="primary" type="submit" form="ngForm" [disabled]="!(this.listaItemsSelected.length > 0) "><mat-icon>done</mat-icon> Aceptar</button>
    <span fxFlex></span>
    <button mat-button color="warn" type="button" (click)="dialogRef.close(false)"><mat-icon>cancel</mat-icon> Cancelar</button>
</div>