<mat-tab-group class="p-05">
    <mat-tab label="INFORMACION BASICA" align="center">

        <form [formGroup]="formLiquidacion" novalidate (ngSubmit)="grabaFormulario(formLiquidacion.value, formLiquidacion.valid, $event)">
            <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex="100" fxFlex.gt-xs="100">
                    <mat-card class="p-0 m-05">
                        <mat-card-content class="pb-05 mt-1">
                            <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
                                <!-- Comapny name input field -->
                                <mat-form-field fxFlex="60%" appearance="">
                                    <mat-label [style.fontSize.px]="14"><b>EMPRESA<br></b></mat-label>
                                    <input matInput [style.fontSize]="'100%'" name="empresa_" [formControl]="formLiquidacion.controls['empresa_']" [disabled]="true" style="color:#3f51b5">
                                    <mat-icon matSuffix>store</mat-icon>
                                </mat-form-field>
                                <mat-label fxFlex="25%"></mat-label>
                                <mat-form-field>
                                    <mat-label><b>FECHA REGISTRO</b></mat-label>
                                    <input matInput [(ngModel)]="valorFechaRegistro_" name="fechaRegistro" [formControl]="formLiquidacion.controls['fechaRegistro']" [matDatepicker]="appDatepicker3" maxlength="10" style="color:#3f51b5">
                                    <mat-datepicker-toggle matSuffix [for]="appDatepicker3"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #appDatepicker3></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="left">
                                <mat-form-field fxFlex="20%" appearance="">
                                    <mat-label [style.fontSize.px]="14" fxFlex="15%"><b>NRO. DE DOCUMENTO LIQ. </b> </mat-label>
                                    <input matInput name="nroDocumentoLiq" [formControl]="formLiquidacion.controls['nroDocumentoLiq']" value="" maxlength="12" style="color:green" (keypress)='validaDigitos($event)' (change)='completarZerosNroDoc($event)'>
                                    <mat-icon matSuffix inline="true">edit</mat-icon>
                                </mat-form-field>
                                <mat-error [style.fontSize.px]="10" *ngIf="formLiquidacion.controls['nroDocumentoLiq'].hasError('required')">
                                    <strong>*REQUERIDO</strong>
                                </mat-error>
                                <mat-label fxFlex="2%"></mat-label>
                                <mat-form-field fxFlex="15%" class="full-width" appearance="">
                                    <mat-label><b>MONEDA LIQ.</b></mat-label>
                                    <mat-select [(ngModel)]="monedaLiquidacion_" name="moneda" [formControl]="formLiquidacion.controls['moneda']">
                                        <mat-option value="0">Soles</mat-option>
                                        <mat-option value="1">Dólares </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-label fxFlex="25%"></mat-label>
                                <mat-form-field appearance="">
                                    <mat-label><b>ESTADO LIQ. </b></mat-label>
                                    <mat-select [(ngModel)]="estadoLiquidacion_" name="estado" [formControl]="formLiquidacion.controls['estado']" align="top" [disabled]="!edicion">
                                        <mat-option value="1">Vigente</mat-option>
                                        <mat-option value="2">Vencido </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="">
                                    <mat-label><b>SITUACION LIQ.</b></mat-label>
                                    <mat-select [(ngModel)]="situacionLiquidacion_" name="situacion" [formControl]="formLiquidacion.controls['situacion']" align="top" [disabled]="!edicion">
                                        <mat-option value="1">Pendiente</mat-option>
                                        <mat-option value="2">En Proceso</mat-option>
                                        <mat-option value="3">Procesado</mat-option>
                                    </mat-select>
                                </mat-form-field>


                            </div>

                            <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="left">
                                <!-- Comapny name input field -->

                                <mat-form-field fxFlex="40%" class="full-width" appearance="">
                                    <mat-label><b>ORIGEN</b></mat-label>
                                    <mat-select name="origen" [compareWith]="compareObjects" [formControl]="formLiquidacion.controls['origen']">
                                        <mat-option *ngFor="let factoria of valorOrigenSelected_" [value]="factoria">
                                            {{factoria.refLarga2}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field fxFlex="42.5%" class="full-width" appearance="">
                                    <mat-label><b>DESTINO</b></mat-label>
                                    <mat-select name="destino" [compareWith]="compareObjects" [formControl]="formLiquidacion.controls['destino']">
                                        <mat-option *ngFor="let factoria2 of valorDestinoSelected_" [value]="factoria2">
                                            {{factoria2.refLarga2}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="left">
                                <!-- Comapny name input field -->
                                <mat-form-field fxFlex="40%" class="full-width" appearance="">
                                    <mat-label><b>MOTIVO DE TRASLADO</b></mat-label>
                                    <mat-select [(ngModel)]="motivoTrasladoSelected_" [compareWith]="" [(ngModel)]="motivoTrasladoSelected_" name="motivoTraslado" [formControl]="formLiquidacion.controls['motivoTraslado']" requeried>
                                        <mat-option *ngFor="let motivoTraslado of comboMotivosTraslado" [value]="motivoTraslado.id">
                                            {{motivoTraslado.codigo + ' - '+ motivoTraslado.descripcion }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFlex="20%" appearance="">
                                    <mat-label><b>FECHA INICIO TRASLADO</b></mat-label>
                                    <input matInput [(ngModel)]="valorFechaIniTraslado_" name="fechaIniTraslado" [formControl]="formLiquidacion.controls['fechaIniTraslado']" [matDatepicker]="appDatepicker" maxlength="10" style="color:#3f51b5">
                                    <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #appDatepicker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field fxFlex="21%" appearance="">
                                    <mat-label><b>FECHA FIN DE TRASLADO</b></mat-label>
                                    <input matInput [(ngModel)]="valorFechaFinTraslado_" name="fechaFinTraslado" [formControl]="formLiquidacion.controls['fechaFinTraslado']" [matDatepicker]="picker" maxlength="10" style="color:#3f51b5">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="left">
                                <!-- Comapny name input field -->
                                <mat-form-field fxFlex="59%" appearance="">
                                    <mat-label [style.fontSize.px]="15"><b>GLOSA </b></mat-label>
                                    <input matInput [(ngModel)]="valorGlosa_" name="glosa" [formControl]="formLiquidacion.controls['glosa']" value="-" [style.fontSize.px]="13" style="color:#3f51b5">
                                    <mat-icon matSuffix inline="true">comment</mat-icon>
                                </mat-form-field>
                                <span fxFlex></span>
                                <div align="right">
                                    <button mat-raised-button matTooltip="" type="button" color="primary" class="mr-1" (click)="mostrarPopUpGuias({}, true)"><mat-icon>add box</mat-icon> Agregar Guias </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                    <!-- Seccion Grilla -->
                    <mat-card class="p-0 mt-05">

                        <mat-divider></mat-divider>
                        <mat-card-content class="p-0 m-0">
                            <div class="mat-box-shadow m-0">

                                <mat-divider></mat-divider>
                                <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->

                                <ngx-datatable ngx-resize-watcher #table id="idTabla" class="material expandable" [columnMode]="'force'" [scrollbarH]="'false'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows" [messages]="messages2" [sorts]="[{prop: 'destinatario.nombre', dir: 'desc'}, {prop: 'secuenciaCliente', dir: 'desc'}]"
                                    [groupRowsBy]="sortBy" [groupExpansionDefault]="true">
                                    <!-- Group Header Template -->
                                    <ngx-datatable-group-header [rowHeight]="60" #myGroupHeader (toggle)="onDetailToggle($event)">
                                        <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                                            <div style="padding-left:5px;color:rgba(0, 0, 0, 0.54);" [style.fontSize.px]="12" class="full-width">
                                                <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Group" (click)="toggleExpandGroup(group)">
                                                    <b fxFlex="30%"> INSUMO:  {{group.value[0].guiaDetalle[0].producto.nombre + ''}}  </b>
                                                    <b fxFlex="20%"> ORIGEN:  {{group.value[0].remitente.refLarga2}} </b>
                                                    <b fxFlex="20%"> DESTINO: {{group.value[0].destinatario.refLarga2}}</b>
                                                </a>
                                                <br><br>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-group-header>
                                    <!-- Row Detail Template -->
                                    <ngx-datatable-row-detail [rowHeight]="40" #myDetailRow (toggle)="onDetailToggle($event)">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                            <div style="padding-left:35px;">
                                                <div fxLayout="row wrap" fxLayout.lt-sm="column" [style.fontSize.px]="12" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="left" class="p-05">
                                                    <div fxFlex="50"></div>
                                                    <div fxFlex="10">
                                                        <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>Total Cantidad : </b> </mat-label>
                                                    </div>
                                                    <div fxFlex="10">
                                                        <mat-label style="color:rgba(0, 0, 0, 0.54);"> {{ sumTotalGrupoCantidad(row, 'totalCantidad') | number: '1.2-2'}} </mat-label>
                                                    </div>
                                                    <div fxFlex="10">
                                                        <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>SubTotal : </b> </mat-label>
                                                    </div>
                                                    <div fxFlex="10">
                                                        <mat-label style="color:rgba(0, 0, 0, 0.54);"> S/ {{ sumTotalGrupoImporte(row, 'subTotal') | number: '1.2-2'}} </mat-label>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-row-detail>
                                    <!-- Row Column Template -->


                                    <ngx-datatable-column name="" [flexGrow]="1" [width]="30">
                                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                            <span>
                                                <button mat-icon-button mat-sm-button type="button" color="warn" matTooltip="Descartar Guia" (click)="eliminarGuia(row,rowIndex)"><mat-icon>delete forever</mat-icon></button>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <!-- <ngx-datatable-column name="Item" [flexGrow]="1" [width]="40" prop="id">
                                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                            <div [style.fontSize.px]="11"> {{ getRowIndex(row) + 1}} </div>
                                        </ng-template>
                                    </ngx-datatable-column> -->


                                    <ngx-datatable-column name="F.Traslado" [flexGrow]="1" [width]="70" prop="fechaTraslado">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div [style.fontSize.px]="11">{{ row?.fechaTraslado | date: 'dd/MM/yyyy' }} </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Guia Rem." [flexGrow]="1" [width]="100" prop="guiaRem">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div [style.fontSize.px]="11">{{ row?.serie + '-' + row?.secuencia }} </div>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Guia Rem. Cli" [flexGrow]="1" [width]="100" prop="guiaRemCli">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div [style.fontSize.px]="11"> {{ row?.serieCliente + '-' + row?.secuenciaCliente }} </div>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Insumo" [flexGrow]="1" [width]="130" prop="insumo">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div [style.fontSize.px]="11" align="left"> {{ row?.guiaDetalle[0].producto.nombre }} </div>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Destino" [flexGrow]="1" [width]="150" prop="destinatario">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div [style.fontSize.px]="11" align="left">{{ row?.destinatario.nombre }} </div>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Cantidad" [flexGrow]="1" [width]="70" prop="totalCantidad">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div align="right">
                                                <div [style.fontSize.px]="11"> {{ row?.totalCantidad | number: '1.2-2' }} </div>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>


                                    <ngx-datatable-column name="UM" [flexGrow]="1" [width]="40" prop="unidadMedida">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div [style.fontSize.px]="11">{{ row?.guiaDetalle[0].unidadMedida.valor }} </div>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Tarifa" [flexGrow]="1" [width]="50" prop="tarifa">
                                        <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex" let-value="value">
                                            <div [style.fontSize.px]="11">
                                                <a href="javascript:void(0)" (click)="openDialog(value, row)">
                                                    {{value | number: '1.2-2'}}
                                                </a>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Sub Total" [flexGrow]="1" [width]="120" prop="subTotal">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div align="center" [style.fontSize.px]="11">
                                                {{ row?.subTotal | number: '1.2-2' }}
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-footer>
                                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">


                                        </ng-template>
                                    </ngx-datatable-footer>


                                </ngx-datatable>
                            </div>

                        </mat-card-content>
                    </mat-card>

                    <!-- Seccion Totales -->
                    <mat-card class="p-0 m-05">
                        <mat-card-content class="p-0 m-0">
                            <!-- Sub Total -->
                            <div fxLayout="row" fxLayout.xs="column wrap" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="left" class="p-05">

                                <div fxFlex="100px">
                                    <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>Total Items : </b>{{ rows.length }} </mat-label>
                                </div>
                                <span fxFlex="320px"></span>
                                <div fxFlex="100px">
                                    <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>Total Cantidad : </b> </mat-label>
                                </div>
                                <div fxFlex="70px" align="center">
                                    <mat-label style="color:rgba(0, 0, 0, 0.54);"> {{ sumTotalCantidad() | number: '1.2-2'}} </mat-label>
                                </div>
                                <div fxFlex="50px"></div>
                                <div fxFlex="80px">
                                    <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>SubTotal : </b> </mat-label>
                                </div>
                                <div fxFlex="80px" align="left">
                                    <mat-label style="color:rgba(0, 0, 0, 0.54);"> S/ {{ sumSubTotalImporte() | number: '1.2-2'}} </mat-label>
                                </div>

                            </div>

                            <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="left">
                                <div fxFlex="80px" class="p-05">
                                </div>
                                <span fxFlex="620px"></span>
                                <div fxFlex="80px">
                                    <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>I.G.V. : </b> </mat-label>
                                </div>

                                <div fxFlex="80px" align="left">
                                    <mat-label style="color:rgba(0, 0, 0, 0.54);"> S/ {{ calcularImporteIGV() | number: '1.2-2'}} </mat-label>
                                </div>

                            </div>
                            <br>
                            <mat-divider></mat-divider>
                            <br>
                            <tr>
                                <td width="100" class="p-05">
                                </td>
                                <td width="400"></td>
                                <td width="100">
                                </td>
                                <td width="100">
                                </td>
                                <td width="70">
                                    <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>TOTAL : </b> </mat-label>
                                </td>
                                <td width="100" align="right" [style.fontSize.px]="14">
                                    <mat-label style="color:rgba(0, 0, 0, 0.54);"> <b>S/ {{ calcularImporteTotal() | number: '1.2-2'}} </b></mat-label>
                                </td>
                            </tr>
                            <br>
                        </mat-card-content>
                    </mat-card>


                </div>

            </div>

            <br>
            <div align="center" data-html2canvas-ignore="true">
                <!-- <button mat-raised-button class="mat-primary" (click)="uploader.uploadAll()" [disabled]="false">Confirmar</button> -->
                <button mat-raised-button color="primary" class="mr-1" type="button" (click)="regresar()"><mat-icon>keyboard_backspace</mat-icon>Regresar</button>
                <button mat-raised-button class="mat-primary" color="primary" class="mr-1" [disabled]="false"><mat-icon>save</mat-icon> Grabar</button>
                <button mat-raised-button class="mat-primary" color="primary" type="button" class="mr-1" (click)="nuevaLiquidacion()"><mat-icon>note_add</mat-icon> Nuevo</button>
                <!--<button mat-raised-button class="mat-primary" color="primary" type="button" (click)="imprimirLiquidacion()" [disabled]="!edicion"><mat-icon>print</mat-icon> Imprimir</button>
                <!-- <button mat-raised-button class="mat-primary" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">Cancelar</button> -->
            </div>
        </form>
    </mat-tab>
</mat-tab-group>