<mat-tab-group class="p-05">
    <mat-tab label="INFORMACION BASICA" align="center">

        <div fxLayout="row wrap">
            <form id="clienteForm_" [formGroup]="clienteForm" (ngSubmit)="submit()">
                <div fxLayout="row wrap" fxLayout.lt-sm="column" [style.fontSize.px]="13" style="color:#3f51b5" class="p-05" fxLayoutAlign="left ">

                    <div fxFlex="30" class="pr-1 pt-1">
                        <mat-form-field class="full-width">
                            <mat-label><b>TIPO DOCUMENTO </b></mat-label>
                            <mat-select name="tipoDocumento" [formControl]="clienteForm.controls['tipoDocumento']">
                                <mat-option *ngFor="let tipoDocumento of comboTiposDocumento" [value]="tipoDocumento">
                                    {{tipoDocumento.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" class="pr-1 pt-1">
                        <mat-form-field class="full-width ">
                            <mat-label><b>DOCUMENTO</b></mat-label>
                            <input matInput name="documento" [formControl]="clienteForm.controls['documento']">
                            <mat-icon matSuffix>edit</mat-icon>
                            <mat-error *ngIf="clienteForm.controls['documento'].hasError('required')">
                                <strong>* REQUERIDO</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="70" class="pr-1 pt-1">
                        <mat-form-field class="full-width ">
                            <mat-label><b>RAZON SOCIAL / NOMBRE</b></mat-label>
                            <input matInput name="razonSocial" [formControl]="clienteForm.controls['razonSocial']">
                            <mat-icon matSuffix>edit</mat-icon>
                            <mat-error *ngIf="clienteForm.controls['razonSocial'].hasError('required')">
                                <strong>* REQUERIDO</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" class="pr-1 pt-1">
                        <mat-form-field class="full-width ">
                            <mat-label><b>TELEFONO</b></mat-label>
                            <input matInput name="telefono" [formControl]="clienteForm.controls['telefono']">
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error *ngIf="clienteForm.controls['telefono'].hasError('required')">
                                <strong>* REQUERIDO</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" class="pr-1 pt-1">
                        <mat-form-field class="full-width ">
                            <mat-label><b>EMAIL</b></mat-label>
                            <input matInput name="email" [formControl]="clienteForm.controls['email']">
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="clienteForm.controls['email'].hasError('required')">
                                <strong>* REQUERIDO</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" class="pr-1 pt-1">
                        <mat-form-field class="full-width">
                            <mat-label><b>DIRECCION</b></mat-label>
                            <input matInput name="direccion" [formControl]="clienteForm.controls['direccion']">
                            <mat-icon matSuffix>directions</mat-icon>
                            <mat-error *ngIf="clienteForm.controls['direccion'].hasError('required')">
                                <strong>* REQUERIDO</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50" class="pr-1 pt-1">
                        <mat-form-field class="full-width">
                            <mat-label><b>DEPARTAMENTO</b></mat-label>
                            <input matInput name="departamento" [formControl]="clienteForm.controls['departamento']">
                            <mat-icon matSuffix>directions</mat-icon>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50" class="pr-1 pt-1">
                        <mat-form-field class="full-width">
                            <mat-label><b>PROVINCIA</b></mat-label>
                            <input matInput name="provincia" [formControl]="clienteForm.controls['provincia']">
                            <mat-icon matSuffix>edit</mat-icon>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50" class="pr-1 pt-1">
                        <mat-form-field class="full-width">
                            <mat-label><b>DISTRITO</b></mat-label>
                            <input matInput name="distrito" [formControl]="clienteForm.controls['distrito']">
                            <mat-icon matSuffix>edit</mat-icon>
                        </mat-form-field>
                    </div>

                    <div fxFlex="10" class="pr-1 pt-1"></div>
                </div>
                <br>
            </form>
        </div>
        <br>
    </mat-tab>
</mat-tab-group>