.mat-button-focus-overlay {
    background-color: transparent;
}

.link-btn {
    background-color: #337ab7;
    color: white;
}

.egret-blue .mat-tab-label,
.egret-blue .mat-tab-link {
    color: green;
    font-size: 16px;
}