/*
 *
 *   EGRET - Angular Material Design Admin Template
 *
 *
*/

.ngx-datatable.material .datatable-body .datatable-group-header {
    background: #f5f5f5;
    border-bottom: solid 1px #D9D8D9;
    border-top: solid 1px #D9D8D9;
    width: 1120px;
}

.ngx-datatable.material .datatable-body .datatable-row-detail {
    background: white;
    width: 1120px;
}

.ngx-datatable.material .datatable-header {
    background: white;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
    text-align: left;
    padding: .9rem 1.2rem;
    font-weight: 400;
    color: rgba(0, 47, 255, 0.815);
    vertical-align: bottom;
    font-size: 12px;
    font-weight: 500;
}

.mat-option-text {
    font-size: 13px;
}

// /*
// bootstrap table theme
// */
// .ngx-datatable.bootstrap {
//     box-shadow: none;
//     font-size: 13px;
//     .datatable-header {
//         height: unset !important;
//         .datatable-header-cell {
//             vertical-align: bottom;
//             padding: 0.75rem;
//             border-bottom: 1px solid #d1d4d7;
//             .datatable-header-cell-label {
//                 line-height: 24px;
//             }
//         }
//     }
//     .datatable-body {
//         .datatable-body-row {
//             padding: 0.75rem;
//             vertical-align: top;
//             border-top: 1px solid #d1d4d7;
//             &.datatable-row-even {
//                 background-color: rgba(0, 0, 0, 0.05);
//             }
//             &.active {
//                 background-color: #1483ff;
//                 color: #FFF;
//             }
//             .datatable-body-cell {
//                 text-align: left;
//                 vertical-align: top;
//             }
//         }
//     }
//     .datatable-footer {
//         background: #424242;
//         color: #ededed;
//         margin-top: -1px;
//         .page-count {
//             line-height: 50px;
//             height: 50px;
//             padding: 0 1.2rem;
//         }
//         .datatable-pager {
//             margin: 0 10px;
//             vertical-align: top;
//             ul {
//                 li {
//                     margin: 10px 0px;
//                     &:not(.disabled) {
//                         &.active,
//                         &:hover {
//                             a {
//                                 background-color: #545454;
//                                 font-weight: bold;
//                             }
//                         }
//                     }
//                 }
//             }
//             a {
//                 height: 22px;
//                 min-width: 24px;
//                 line-height: 22px;
//                 padding: 0;
//                 border-radius: 3px;
//                 margin: 0 3px;
//                 text-align: center;
//                 vertical-align: top;
//                 text-decoration: none;
//                 vertical-align: bottom;
//                 color: #ededed;
//             }
//             .datatable-icon-left,
//             .datatable-icon-skip,
//             .datatable-icon-right,
//             .datatable-icon-prev {
//                 font-size: 18px;
//                 line-height: 27px;
//                 padding: 0 3px;
//             }
//         }
//     }
// }
// ngx-datatable.dark {
//     box-shadow: none;
//     background: #b48e26;
//     border: 10px solid #13a84c;
//     color: #fff;
//     font-size: 13px;
//     .datatable-header {
//         background: #181b24;
//         color: #72809b;
//         .datatable-header-cell {
//             text-align: left;
//             padding: .5rem 1.2rem;
//             font-weight: bold;
//             .datatable-header-cell-label {
//                 line-height: 24px;
//             }
//         }
//     }
//     .datatable-body {
//         background: #1a1e28;
//         .datatable-body-row {
//             border-top: 100px solid #073194;
//             .datatable-body-cell {
//                 text-align: left;
//                 padding: .5rem 1.2rem;
//                 vertical-align: top;
//             }
//             &:hover {
//                 background: #171b24;
//                 transition-property: background;
//                 transition-duration: .3s;
//                 transition-timing-function: linear;
//             }
//             &:focus {
//                 background-color: #232837;
//             }
//             &.active {
//                 background-color: #1483ff;
//                 color: #FFF;
//             }
//         }
//     }
//     .datatable-footer {
//         background: #232837;
//         color: #72809b;
//         margin-top: -1px;
//         .page-count {
//             line-height: 50px;
//             height: 50px;
//             padding: 0 1.2rem;
//         }
//         .datatable-pager {
//             margin: 0 10px;
//             vertical-align: top;
//             ul {
//                 li {
//                     margin: 10px 0px;
//                     &:not(.disabled) {
//                         &.active a,
//                         &:hover a {
//                             background-color: #455066;
//                             font-weight: bold;
//                         }
//                     }
//                 }
//             }
//             a {
//                 height: 22px;
//                 min-width: 24px;
//                 line-height: 22px;
//                 padding: 0;
//                 border-radius: 3px;
//                 margin: 0 3px;
//                 text-align: center;
//                 vertical-align: top;
//                 text-decoration: none;
//                 vertical-align: bottom;
//                 color: #72809b;
//             }
//             .datatable-icon-left,
//             .datatable-icon-skip,
//             .datatable-icon-right,
//             .datatable-icon-prev {
//                 font-size: 18px;
//                 line-height: 27px;
//                 padding: 0 3px;
//             }
//         }
//     }
//     .datatable-summary-row {
//         .datatable-body-row {
//             background-color: #14171f;
//             &:hover {
//                 background-color: #14171f;
//             }
//             .datatable-body-cell {
//                 font-weight: bold;
//             }
//         }
//     }
// }
// Third pirty style files
// Sidebar Scroll
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
//  star-rating styles (Used in Shop app)
@import "~css-star-rating/scss/star-rating.scss";
// Data Table
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
// Rich Text Editor
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
// Drag and Drop
@import '~dragula/dist/dragula.css';
// Calendar
@import '~angular-calendar/css/angular-calendar.css';
// User tour
@import '~hopscotch/dist/css/hopscotch.min.css';
// Page loader Topbar
@import '../../vendor/pace/pace-theme-min.css';
// Main Variables File
@import "scss/variables";
// Open _themes.scss and remove unnecessary theme files
@import "scss/themes";
// Open _main.scss and keep files which are required for your current layout.
@import "scss/main";
// Open _views.scss and remove unnecessary view related files
@import "scss/views";