<mat-toolbar color="primary">
    <mat-toolbar-row [style.fontSize.px]="17">
        <mat-icon>local_shipping</mat-icon>
        <span class="ml-1">{{ data.title}}</span>
        <span class="spacer"></span>
        <mat-icon class="example-icon" (click)="dialogRef.close(false)">close</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row wrap">
    <form id="itemFormPlanta" [formGroup]="itemForm_" (ngSubmit)="submit()">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" [style.fontSize.px]="13" style="color:#3f51b5" class="p-05" fxLayoutAlign="left ">

            <div fxFlex="40" class="pr-1 pt-1">
                <mat-form-field class="full-width ">
                    <mat-label><b>PLACA TRACTO</b></mat-label>
                    <input matInput name="tracto" [formControl]="itemForm_.controls['tracto']">
                    <mat-icon matSuffix>calendar_view_day</mat-icon>
                    <mat-error *ngIf="itemForm_.controls['tracto'].hasError('required')">
                        <strong>* REQUERIDO</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="40" class="pr-1 pt-1">
                <mat-form-field class="full-width ">
                    <mat-label><b>PLACA BOMBONA</b></mat-label>
                    <input matInput name="bombona" [formControl]="itemForm_.controls['bombona']">
                    <mat-icon matSuffix>calendar_view_day</mat-icon>
                    <mat-error *ngIf="itemForm_.controls['bombona'].hasError('required')">
                        <strong>* REQUERIDO</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="20" class="pt-1 pr-1">
                <mat-slide-toggle [formControl]="itemForm_.controls['estado']">Operativo</mat-slide-toggle>
            </div>

            <div fxFlex="50" class="pr-1 pt-1">
                <mat-form-field class="full-width ">
                    <mat-label><b>MARCA/MODELO</b></mat-label>
                    <input matInput name="marca" [formControl]="itemForm_.controls['marca']">
                    <mat-icon matSuffix>edit</mat-icon>
                    <mat-error *ngIf="itemForm_.controls['marca'].hasError('required')">
                        <strong>* REQUERIDO</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1 pt-1">
                <mat-form-field class="full-width">
                    <mat-label><b>CERTIFICADO MTC</b></mat-label>
                    <input matInput name="certificado" [formControl]="itemForm_.controls['certificado']">
                    <mat-icon matSuffix>edit</mat-icon>
                    <mat-error *ngIf="itemForm_.controls['certificado'].hasError('required')">
                        <strong>* REQUERIDO</strong>
                    </mat-error>
                </mat-form-field>
            </div>



            <!-- <div fxFlex="50" class="pr-1 pt-1">
                <mat-form-field class="full-width">
                    <mat-label><b>ESTADO DEL VEHICULO</b></mat-label>
                    <mat-select [compareWith]="compareObjects" name="estado" [formControl]="itemForm_.controls['estado']" (selectionChange)="seleccionarCliente($event)">
                        <mat-option *ngFor="let estado of comboEstados" [value]="estado">
                            {{estado.nombre}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="itemForm_.controls['estado'].hasError('required')">
                        <strong>* REQUERIDO</strong>
                    </mat-error>
                </mat-form-field>
            </div> -->

            <div fxFlex="10" class="pr-1 pt-1"></div>



        </div>
        <br>
        <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="2.5%">
            <button mat-button color="primary" type="submit" form="itemFormPlanta"><mat-icon>save</mat-icon> Grabar</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)"><mat-icon>cancel</mat-icon> Cancelar</button>
        </div>
    </form>
</div>