<mat-tab-group class="p-05">
    <mat-tab label="INFORMACION BASICA" align="center">

        <form [formGroup]="facturaForm" novalidate [style.fontSize.px]="12" (ngSubmit)="grabarFormulario(facturaForm.value, facturaForm.valid, $event)">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap">
                        <div fxFlex="100" fxFlex.gt-xs="100">
                            <mat-card class="p-0 m-05">
                                <!-- <mat-card-title class="mat-bg-primary m-05" style="width: 20%">
                                                    <div align="center" [style.fontSize.px]="14" class="p-0">
                                                        <span>FACTURA CABECERA</span>
                                                    </div>
                                                    <mat-divider></mat-divider>
                                                </mat-card-title> -->
                                <mat-card-content class="pb-0">
                                    <br>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign=" left">

                                        <mat-form-field fxFlex="20%" appearance="">
                                            <mat-label><b>TIPO DOCUMENTO </b></mat-label>
                                            <mat-select [formControl]="facturaForm.controls['tipoDocumento']">
                                                <mat-option *ngFor="let tipoDocumento of comboTiposDocumento" [value]="tipoDocumento">
                                                    {{tipoDocumento.nemonico}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field fxFlex="8%" appearance="">
                                            <mat-label style="font-size: 14px"><b>SERIE </b></mat-label>
                                            <input matInput type="text" name="serieDocumento" [formControl]="facturaForm.controls['serieDocumento']" maxlength="5" [style.fontSize.px]="14" style="color:green;">
                                            <mat-icon matSuffix inline="true">edit</mat-icon>

                                            <mat-error [style.fontSize.px]="10" class="full-width" *ngIf="facturaForm.controls['serieDocumento'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="16.5%" appearance="">
                                            <mat-label><b>CORRELATIVO </b></mat-label>
                                            <input matInput type="text" name="numeroDocumento" [formControl]="facturaForm.controls['numeroDocumento']" maxlength="8" [style.fontSize.px]="14" style="color:green" (keypress)='validaDigitos($event)' (change)='validarDocumento($event)'>
                                            <mat-icon matSuffix inline="true">edit</mat-icon>

                                            <mat-error [style.fontSize.px]="10" class="full-width" *ngIf="facturaForm.controls['numeroDocumento'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <!-- <span fxFlex="2%"></span> -->

                                        <!-- Nombre Cliente-->
                                        <mat-form-field fxFlex="20%" appearance="">
                                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>FECHA EMISION</b></mat-label>
                                            <input matInput name="fechaEmision" [formControl]="facturaForm.controls['fechaEmision']" [matDatepicker]="appDatepicker" maxlength="10" style="color:#3f51b5">
                                            <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #appDatepicker></mat-datepicker>
                                            <mat-error *ngIf="facturaForm.controls['fechaEmision'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="20%" appearance="">
                                            <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>FECHA VENCIMIENTO</b></mat-label>
                                            <input matInput name="fechaVencimiento" [formControl]="facturaForm.controls['fechaVencimiento']" [matDatepicker]="picker" valuemaxlength="10" style="color:#3f51b5">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #picker></mat-datepicker>
                                            <mat-error *ngIf="facturaForm.controls['fechaVencimiento'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>


                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign=" left">

                                        <!-- Estado del Documento  -->
                                        <mat-form-field fxFlex="20%" appearance="">
                                            <mat-label><b>ESTADO DOCUMENTO</b></mat-label>
                                            <mat-select [compareWith]="compareObjects" name="estado" [formControl]="facturaForm.controls['estado']">
                                                <mat-option *ngFor="let estado of comboEstadosFactura" [value]="estado">
                                                    {{estado.descripcion}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <!-- Tipo de Operación -->
                                        <mat-form-field fxFlex="28%" appearance="">
                                            <mat-label><b>TIPO DE OPERACION</b></mat-label>
                                            <mat-select [compareWith]="compareObjects" name="tipoOperacion" [formControl]="facturaForm.controls['tipoOperacion']">
                                                <mat-option *ngFor="let tipoOperacion of comboTiposOperacion" [value]="tipoOperacion">
                                                    {{tipoOperacion.codigo + ' - ' + tipoOperacion.descripcion}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="facturaForm.controls['tipoOperacion'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>



                                        <!-- Tipo de Afectación IGV -->
                                        <!-- <mat-form-field fxFlex="28%" appearance="">
                                            <mat-label><b>TIPO DE AFECTACION IGV</b></mat-label>
                                            <mat-select [compareWith]="compareObjects" name="tipoAfectacionIGV" [formControl]="facturaForm.controls['tipoAfectacionIGV']">
                                                <mat-option *ngFor="let tipoAfectacionIGV_ of comboTiposIGV" [value]="tipoAfectacionIGV_">
                                                    {{tipoAfectacionIGV_.codigo + ' - ' + tipoAfectacionIGV_.descripcion}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="facturaForm.controls['tipoAfectacionIGV'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field> -->

                                        <!-- Monedas -->
                                        <mat-form-field fxFlex="20%" appearance="">
                                            <mat-label><b>MONEDA</b></mat-label>
                                            <mat-select [compareWith]="compareObjects" name="moneda" [formControl]="facturaForm.controls['moneda']" (selectionChange)="selecccionarSimbolo()">
                                                <mat-option *ngFor="let moneda of comboMonedas" [value]="moneda">
                                                    {{moneda.descripcion}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="facturaForm.controls['moneda'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <!-- Formas de Pago -->
                                        <mat-form-field fxFlex="20%" appearance="">
                                            <mat-label><b>FORMA DE PAGO</b></mat-label>
                                            <mat-select [compareWith]="compareObjects" name="formaPago" [formControl]="facturaForm.controls['formaPago']">
                                                <mat-option *ngFor="let formaPago of comboFormasPago" [value]="formaPago">
                                                    {{formaPago.descripcion}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="facturaForm.controls['formaPago'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <br>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign=" left">


                                        <!-- <mat-label fxFlex="1%"></mat-label> -->
                                        <mat-form-field fxFlex="40%" appearance="">
                                            <mat-label><b>CLIENTE</b></mat-label>
                                            <mat-select [compareWith]="compareObjects" name="cliente" [formControl]="facturaForm.controls['cliente']" (selectionChange)="seleccionarCliente($event)">
                                                <mat-option *ngFor="let cliente of comboClientes" [value]="cliente">
                                                    {{'RUC ' + cliente.ruc + ' - '+cliente.razonSocial}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="facturaForm.controls['cliente'].hasError('required')">
                                                <strong>* REQUERIDO</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <!-- Direccion Cliente -->
                                        <mat-form-field fxFlex="55%" appearance="">
                                            <mat-label><b>DIRECCION</b></mat-label>
                                            <input matInput name="direccion" [formControl]="facturaForm.controls['direccion']" [style.fontSize.px]="12" style="color:#3f51b5">
                                            <mat-icon matSuffix inline="false">directions</mat-icon>

                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="3.0%" fxLayoutAlign=" left">
                                        <span fxFlex></span>



                                        <section class="pl-1 ml-05">
                                            <mat-checkbox name="conOrdenServicio" [(ngModel)]="conLiquidaciones_" [disabled]="conGuiaRemision_" color="primary" [style.fontSize.px]="13" [formControl]="facturaForm.controls['conOrdenServicio']">Liquidación </mat-checkbox>
                                        </section>
                                        <section class="pl-1 ml-05">
                                            <mat-checkbox name="conGuiaRemision" [(ngModel)]="conGuiaRemision_" [disabled]="conLiquidaciones_" color="primary" [style.fontSize.px]="13" [formControl]="facturaForm.controls['conGuiaRemision']">Guia de Remisión </mat-checkbox>
                                        </section>
                                        <div align="right">
                                            <button mat-raised-button matTooltip="Buscar item de producto o servicio" type="button" color="primary" class="mr-1" (click)="buscarItem({}, true)"><mat-icon>add box</mat-icon> Añadir Item </button>
                                        </div>
                                    </div>

                                    <br>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <mat-tab-group>
                        <mat-tab label="PRODUCTOS" align="center">
                            <!-- Seccion Detalle Factura -->
                            <mat-card class="p-0">
                                <!-- <mat-card-title class="mat-bg-primary m-05" style="width: 20%">
                                    <div align="center" [style.fontSize.px]="14" class="p-0">
                                        <span>FACTURA DETALLE</span>
                                    </div>
                                    <mat-divider></mat-divider>
                                </mat-card-title> -->
                                <div class="mat-box-shadow">
                                    <ngx-datatable ngx-resize-watcher #table id="idTabla" class="material expanded" [columnMode]="'force'" [scrollbarH]="'true'" [headerHeight]="40" [footerHeight]="0" [rowHeight]="'auto'" [limit]="100" [rows]="rows" [columns]="columns" [messages]="messages">

                                        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
                                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                                                <app-table-detail [data]="row"></app-table-detail>
                                            </ng-template>
                                        </ngx-datatable-row-detail>

                                        <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
                                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                                <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Detalle" (click)="toggleExpandRow(row)">
                                                </a>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- <ngx-datatable-column name="ITEM" [flexGrow]="1" [width]="60" prop="id">
                                            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                                <div [style.fontSize.px]="12"> {{ rowIndex + 1 }} </div>
                                            </ng-template>
                                        </ngx-datatable-column> -->

                                        <ngx-datatable-column name="CODIGO" [flexGrow]="1" [width]="130" prop="codigo" [cellClass]="'my-custom-cell'">
                                            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                                <div [style.fontSize.px]="12"> {{ row?.codigo }} </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="DESCRIPCION" [flexGrow]="1" [width]="230" prop="descripcion">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <div [style.fontSize.px]="12"> {{ row?.descripcion }} </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="CANTIDAD" [flexGrow]="1" [width]="100" prop="cantidad">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <div align="center" [style.fontSize.px]="12"> {{ row?.cantidad | number: '1.2-2' }}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="UM" [flexGrow]="1" [width]="100" prop="unidadMedida">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <div [style.fontSize.px]="12"> {{ row?.unidadMedida.descripcion }} </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="P. UNIT." [flexGrow]="1" [width]="80" prop="tarifa">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <div align="center" [style.fontSize.px]="12"> {{ row?.tarifa | number: '1.2-2' }}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="DESCUENTOS" [flexGrow]="1" [width]="100" prop="descuentos">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <div align="center" [style.fontSize.px]="12"> {{row?.descuentos | number: '1.2-2'}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- <ngx-datatable-column name="TIPO IGV" [flexGrow]="1" [width]="100" prop="tipoIGV">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <div align="left" [style.fontSize.px]="12"> {{ row?.tipoIGV.nemonico }}</div>
                                            </ng-template>
                                        </ngx-datatable-column> -->
                                        <ngx-datatable-column name=" TOTAL ITEM" [flexGrow]="1" [width]="120" prop="importeTotal">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <div align="center" [style.fontSize.px]="12"> {{ row?.total | number: '1.2-2' }}</div>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="" [flexGrow]="1" [width]="100">
                                            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                                <button mat-icon-button mat-sm-button type="button" color="primary" matTooltip="Editar Item" [disabled]="conGuiaRemision_ || conLiquidaciones_" (click)="buscarItem(row)"><mat-icon>edit</mat-icon></button>
                                                <button mat-icon-button mat-sm-button type="button" color="warn" matTooltip="Descartar Item" (click)="eliminarItem(row,rowIndex)"><mat-icon>delete forever</mat-icon></button>
                                            </ng-template>
                                        </ngx-datatable-column>


                                    </ngx-datatable>
                                </div>


                            </mat-card>
                        </mat-tab>
                    </mat-tab-group>

                    <!-- SECCION DETALLE EN EL CASO EL ITEM ES UNA LIQUIDACION -->
                    <!-- <app-table-detail *ngIf="conLiquidaciones_" [data]="message"></app-table-detail>-->


                    <!-- SECCION RESUMEN Y TOTALES -->
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap">

                        <!-- SECCION RESUMEN -->
                        <div fxFlex="100" fxFlex.gt-xs="60">
                            <mat-card class="p-0">
                                <mat-divider></mat-divider>
                                <mat-card-content>
                                    <br>
                                    <div fxLayout="row" fxLayout.xs="column" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign=" left">
                                        <!-- Observación -->
                                        <mat-form-field fxFlex="70%" appearance="">
                                            <mat-label><b>OBSERVACION</b></mat-label>
                                            <input matInput name="observacion" [formControl]="facturaForm.controls['observacion']" style="color:#3f51b5">
                                            <mat-icon matSuffix inline="true">comment</mat-icon>
                                        </mat-form-field>
                                        <!-- Orden de Servicio -->
                                        <mat-form-field fxFlex="30%" appearance="">
                                            <mat-label><b>ORDEN DE SERVICIO</b></mat-label>
                                            <input matInput name="ordenServicio" type="text" [formControl]="facturaForm.controls['ordenServicio']" style="color:#3f51b5">
                                            <mat-icon matSuffix inline="true">edit</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <br> <br>
                                    <div align="left">
                                        <button mat-raised-button matTooltip="Graba documento" color="primary" class="mr-1"><mat-icon>save</mat-icon> Grabar</button>
                                        <button mat-raised-button type="button" matTooltip="Anular documento" color="warn" (click)="anularDocumento()" [disabled]="!this.edicion" class="mr-1"><mat-icon>cancel</mat-icon> Anular </button>
                                        <!-- <button mat-raised-button type="button" [disabled]="true" matTooltip="Envia Documento a SUNAT" color="accent" class="mr-1"><mat-icon>send</mat-icon> Emitir Factura</button> -->
                                        <!--<button mat-raised-button type="button" [disabled]="!this.edicion" matTooltip="Imprime documento" color="accent" class="mr-1"><mat-icon>print</mat-icon> Imprimir </button>-->
                                        <button mat-raised-button type="button" matTooltip="Nuevo documento" color="primary" (click)="nuevoDocumento()"><mat-icon>note_add</mat-icon> Nuevo</button>

                                    </div>
                                    <br>
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <!-- SECCION TOTALES -->
                        <div fxFlex="100" fxFlex.gt-xs="40">

                            <mat-card class="p-0 mb-0">
                                <mat-divider></mat-divider>
                                <mat-card-content>


                                    <br>
                                    <!-- <div fxLayout="row" fxLayout.xs="columns" [style.fontSize.px]="13" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign=" right">
                                                    </div> -->
                                    <div class="line mt-0" [style.fontSize.px]="12">
                                        <span class="fw-500">DESCUENTOS :</span>
                                        <span fxFlex></span>
                                        <span class="text-muted3" style="color:#3f51b5">{{simbolo }} {{descuentos | number: '1.2-2'}}</span>
                                    </div>

                                    <div class="line mt-05" [style.fontSize.px]="12">
                                        <span class="fw-500">SUB TOTAL VENTAS :</span>
                                        <span fxFlex></span>
                                        <span class="text-muted3" style="color:#3f51b5">{{simbolo }} {{ totalSum | number: '1.2-2'}}</span>
                                    </div>

                                    <!-- <div class="line mb-0" [style.fontSize.px]="12">
                                                        <span class="fw-500">Anticipos :</span>
                                                        <span fxFlex></span>
                                                        <span class="text-muted">{{simbolo }}{{anticipos | number: '1.2-2' }}</span>
                                                    </div> -->

                                    <!-- <div class="line mt-05" [style.fontSize.px]="12">
                                                        <span class="fw-500">VALOR VENTA :</span>
                                                        <span fxFlex></span>
                                                        <span class="text-muted">{{simbolo }}{{valorVenta | number: '1.2-2'}}</span>
                                                    </div> -->
                                    <div class="line mt-05" [style.fontSize.px]="12">
                                        <span class="fw-500">IGV :</span>
                                        <span fxFlex></span>
                                        <span class="text-muted3" style="color:#3f51b5">{{simbolo }} {{valorIGV | number: '1.2-2'}}</span>
                                    </div>
                                    <!-- <div class="line mb-0" [style.fontSize.px]="12">
                                                        <span class="fw-500">Otros Cargos :</span>
                                                        <span fxFlex></span>
                                                        <span class="text-muted">{{simbolo }}{{otrosCargos | number: '1.2-2'}}</span>
                                                    </div>-->
                                    <div class="line mt-05" [style.fontSize.px]="12">
                                        <span class="fw-500">ISC:</span>
                                        <span fxFlex></span>
                                        <span class="text-muted3" style="color:#3f51b5">{{simbolo }} {{otrosTributos | number: '1.2-2'}}</span>
                                    </div>
                                    <div class="line mt-05" [style.fontSize.px]="13">
                                        <span class="fw-500"> TOTAL :</span>
                                        <span fxFlex></span>
                                        <span class="text-muted2" style="color:#3f51b5"> {{simbolo }} {{ importeTotal | number: '1.2-2'}}</span>
                                    </div>
                                    <br>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>

                </div>

            </div>
            <br>

        </form>
        <!-- </mat-card-content>
        </mat-card> -->
    </mat-tab>

    <!-- <mat-tab label="INFORMACION ADICIONAL" align="center">

    </mat-tab> -->
</mat-tab-group>