<mat-tab-group class="p-05">
    <mat-tab label="FILTROS DE BUSQUEDA" align="center">

    </mat-tab>
</mat-tab-group>
<mat-card class="p-0">
    <!--<mat-card-title class="mat-bg-primary m-05">
        <div align="center" [style.fontSize.px]="14">
            <span>FILTROS PARA BUSQUEDA</span>
        </div>
    </mat-card-title>

    <!-- <mat-card-title class="mat-bg-primary m-05">
            <div align="center" [style.fontSize.px]="14" class="p-0">
                <span>FILTROS PARA BUSQUEDA</span>
            </div>
            <mat-divider></mat-divider>
        </mat-card-title> -->



    <mat-card-content class="mb-0 p-05">
        <form [formGroup]="formFilter" novalidate>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="4.5%" class="mb-0 p-0" fxLayoutAlign="start left">
                <mat-form-field fxFlex="10%" class="pl-1">
                    <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>NRO. DE SERIE</b></mat-label>
                    <input matInput [(ngModel)]="valorNroSerie_" name="nroSerie" [formControl]="formFilter.controls['nroSerie']" maxlength="5" style="color:#3f51b5" (keypress)='validaDigitos($event)' (keydown.tab)='completarZerosNroSerie($event)'>
                </mat-form-field>
                <mat-form-field fxFlex="15%" class="pl-1">
                    <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>NRO. DE SECUENCIA</b></mat-label>
                    <input matInput [(ngModel)]="valorNroSecuencia_" name="nroSecuencia" [formControl]="formFilter.controls['nroSecuencia']" maxlength="8" style="color:red" (keypress)='validaDigitos($event)' (keydown.tab)='completarZerosNroSecuencia($event)'>
                </mat-form-field>
                <mat-label class="pl-1 ml-2" fxFlex="60%"> </mat-label>
                <mat-form-field class="pl-1 ml-2" fxFlex="40%">
                    <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>FECHA INICIO (EMISION)</b></mat-label>
                    <input matInput name="fechaIniTraslado" [formControl]="formFilter.controls['fechaIniTraslado']" [matDatepicker]="picker" maxlength="10">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="pl-1" fxFlex="40%">
                    <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>FECHA FIN (EMISION)</b></mat-label>
                    <input matInput name="fechaFinTraslado" [formControl]="formFilter.controls['fechaFinTraslado']" [matDatepicker]="picker2" maxlength="10">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <br>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign=" left">
                <mat-form-field class="pl-1">
                    <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>ESTADO</b></mat-label>
                    <mat-select name="estadoSelected" [formControl]="formFilter.controls['estadoSelected']">
                        <mat-option value="99">Todos</mat-option>
                        <mat-option value="0">Registrado</mat-option>
                        <mat-option value="1">Anulado</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="pl-1" fxFlex="30%">
                    <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>CHOFER</b></mat-label>
                    <mat-select name="choferSelected" [formControl]="formFilter.controls['choferSelected']">
                        <mat-option value="0">Todos</mat-option>
                        <mat-option *ngFor="let chofer of comboChoferes" [value]="chofer.id">
                            {{chofer.nombres + ' ' + chofer.apellidos}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="pl-1" fxFlex="30%">
                    <mat-label style="color:rgba(0, 0, 0, 0.54);"><b>DESTINO</b></mat-label>
                    <mat-select name="destinatarioSelected" [formControl]="formFilter.controls['destinatarioSelected']">
                        <mat-option value="0">Todos</mat-option>
                        <mat-option *ngFor="let factoria of comboFactorias" [value]="factoria.id">
                            {{factoria.refLarga2}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <section class="pl-1 ml-05">
                    <mat-checkbox name="esFacturado" [style.fontSize.px]="13" [formControl]="formFilter.controls['esFacturado']">Facturado </mat-checkbox>
                </section>
            </div>
            <div class="p-1 full-width" align="right">
                <button mat-raised-button align="right" color="primary" class="mr-1" (click)="buscarGuiasConFiltro()"><mat-icon>search</mat-icon>Buscar</button>
                <button mat-raised-button align="right" color="primary" (click)="ExportTOExcel()"><mat-icon>archive</mat-icon> Exportar</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>

<div class="mat-box-shadow margin-333">

    <ngx-datatable class="material striped" [columnMode]="'standard'" [scrollbarH]="'true'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="5" [rows]="rows" [columns]="columns" [messages]="messages">
        <ngx-datatable-column name="Acciones" [flexGrow]="1" [width]="80">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="primary" matTooltip="Consultar" class="mr-1" (click)="consultarGuia(row)"><mat-icon>search</mat-icon></button>
                <!-- <button mat-icon-button mat-sm-button color="warn" matTooltip="Eliminar" (click)="eliminarGuia(row)"><mat-icon>delete</mat-icon></button> -->
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Item" [flexGrow]="1" [width]="60" prop="id">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="12">{{ row?.id }} </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nro. Serie" [flexGrow]="1" [width]="80" prop="nroguia">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="12"> {{ row?.nroguia }} </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nro. Secuencia" [flexGrow]="1" [width]="110" prop="nroSecuencia">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="12"> {{ row?.nroSecuencia }} </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Guía Rem. Cliente" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="12">{{ row?.nroGuiaCliente }}</div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Fecha de Emisión" [flexGrow]="1" [width]="130" prop="fechaEmision">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="12"> {{ row?.fechaEmision | date: 'dd/MM/yyyy'}} </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Cantidad" [flexGrow]="1" [width]="130" prop="cantidad">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="12" align="left">{{ row?.cantidad }}</div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nro. de Liquid." [flexGrow]="1" prop="nroLiq">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="12"> {{ row?.nroLiq }} </div>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nro Ord. Servicio" [flexGrow]="1" prop="ordenServicio">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="12"> {{ row?.ordenServicio }} </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Razón Soc. Rem" [flexGrow]="1" [width]="270" prop="remitente">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="12"> {{ row?.remitente }} </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Razón Soc. Dest" [flexGrow]="1" [width]="250" prop="destinatario">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="12"> {{ row?.destinatario }} </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Estado" [flexGrow]="1" [width]="110" prop="estado">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-chip mat-sm-chip class="full-width" [color]="'primary'" [selected]="row.estado =='REGISTRADO'">{{row.estado == 'REGISTRADO' ? 'Registrado' : 'Anulado'}}</mat-chip>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Producto" [flexGrow]="1" [width]="265" prop="producto">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="12"> {{ row?.producto }}</div>
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Chofer" [flexGrow]="1" [width]="240" prop="chofer">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="12"> {{ row?.chofer }}</div>
            </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="Balance" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.balance | currency }}
            </ng-template>
        </ngx-datatable-column> -->


        <ngx-datatable-column name="Usuario Reg." [flexGrow]="1" [width]="110" prop="usuarioRegistra">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="13"> {{ row?.usuarioRegistra }} </div>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fec. Recepción" [flexGrow]="1" [width]="130" prop="fechaRecepcion">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div [style.fontSize.px]="13"> {{ row?.fechaRecepcion | date: 'dd/MM/yyyy'}}</div>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
</div>